<div class="mt-4 ml-4">
    <div *ngIf="!isStudent; then addFileInput"></div>
    <ng-template #addFileInput>
        <button class="mb-4" mat-raised-button (click)="openDialog()">Add File</button>
    </ng-template>
    <div *ngFor="let file of files">
        <div *ngIf="currentFile == file; then activeFile else nonActiveFile"></div>
            <ng-template #activeFile>
                <button type="button" (click)='changeCurrFile(file)' class="list-group-item list-group-item-action active">
                    {{file}}
                </button>
            </ng-template>
            <ng-template #nonActiveFile>
                <button type="button" (click)='changeCurrFile(file)' class="list-group-item list-group-item-action">
                    {{file}}
                </button>
            </ng-template>
    </div>
</div>