.csv-file-chooser-section {
    padding: 10px;
    margin: 5%;
    margin-top: 2%;
    float: right;
    text-align: center;
  }
  
.csv-result-table {
  margin: 10%;

}
.csv-file-chooser-section button{ /* You Can Name it what you want*/
  margin-right:16px;
  }
.csv-file-chooser-section input:last-child{
margin-right:0px;
/*so the last one dont push the div thas giving the space only between the inputs*/
}
table {
  width: 70%;
  /* margin-top: 20%; */
}

.mat-elevation-z8 {
  margin-top: 10%;
  margin-left: 15%;
  width: 70%;
  position: absolute;
}