<div>
    <div class="container p-3">
        <button type="button" class="btn btn-info" (click)="returnMainPage($event)">Return</button>
    </div>

    <div class="csv-file-chooser-section">
        <button type="upload" class="btn btn-info update" (click)="updateData($event)">Update</button>
        <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" (change)="fileChangeListener($event)"
            accept=".csv"/>
    
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
    
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="usn">
            <th mat-header-cell *matHeaderCellDef> USN </th>
            <td mat-cell *matCellDef="let element"> {{element.usn}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>