<div class="row mt-4">
    <div class="col-2 mt-4">
        <div class="ml-4" *ngFor="let file of files">
            <div *ngIf="currentFile == file.name; then activeFile else nonActiveFile"></div>
                <ng-template #activeFile>
                    <button type="button" class="list-group-item list-group-item-action active">
                        {{file.name +"."+ file.language}}
                    </button>
                </ng-template>
                <ng-template #nonActiveFile>
                    <button type="button" (click)='changeCurrFile(file.name)' class="list-group-item list-group-item-action">
                        {{file.name +"."+ file.language}}
                    </button>
                </ng-template>
        </div>
    </div>
    <div class="col-6">
        <div class="row mb-2">
            <div class="input-group col-3 mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="languages-select">Languages</label>
                </div>
                <select disabled class="custom-select" id="languages-select" #languagesSelect>
                    <option [value]= "lang" >{{lang}}</option>
                </select>
            </div>
            <div class="input-group col-3 mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="themes-select">Themes</label>
                </div>
                <select class="custom-select" id="themes-select"(change)='setTheme(themesSelect.value)' #themesSelect>
                    <option *ngFor="let theme of themes" [value]="theme.name" >{{theme.name}}</option>
                </select>
            </div>
        </div>
        
        <div class="row mb-4">
            <div class="col">
                <div class="code-editor" #codeEditor></div>
            </div>
        </div>

        <div class="row mb-4 justify-content-center mx-4">
            <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
                <button type="button" class="btn btn-dark btn-sm btn-block px-4 mx-2" (click)="runCode()">
                    Run
                </button>
            </div>
            <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
                <button type="button" class="btn btn-primary btn-sm btn-block px-4 mx-2" disabled>
                    Clear
                </button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <div class="label-box border"><span class="mx-4 font-weight-light">Output</span></div>
                <textarea [value]="outputString" class="form-control output" rows="6" disabled="true" aria-label="output-textarea"></textarea>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="d-flex justify-content-between mr-4" >
            <button mat-raised-button (click)="openDialog()">Add Note</button>
            <button mat-raised-button (click)="download()">Download</button>
        </div>
        
        <ul class="list-group mt-5 mr-4">
            <div *ngFor="let note of notes">
                <li [matBadge]="note.lineNumber" matBadgePosition="above before" class="list-group-item d-flex justify-content-between mt-2 align-items-start">
                    <pre>{{note.text}}</pre>
                    <button mat-raised-button matTooltip="Edit the note name" (click)="editNoteDialog(note)">Edit</button>
                </li>
            </div>
        </ul>
    </div>
</div>