<div mat-dialog-content>
    
    <div>
        <mat-form-field style="width: 100%">
            <mat-label>Note Text</mat-label>
            <textarea matInput [(ngModel)]="data.text" cdkFocusInitial></textarea>
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field style="width: 50%">
            <mat-label>Line Number</mat-label>
            <input matInput [(ngModel)]="data.lineNumber">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data">Ok</button>
</div>