<div class="row">
    <div class="col-2">
        <app-file-explorer [isStudent] = "isStudent" ></app-file-explorer>
    </div>
    <div *ngIf="isStudent; then studentView else teacherView"></div>
    <ng-template #studentView>
        <div class="col-10">
            <app-student-code-editor></app-student-code-editor>
        </div>
    </ng-template>
    <ng-template #teacherView>
        <div class="col">
            <app-code-editor></app-code-editor>
        </div>
    </ng-template>
</div>