<div class="container-md p-3 my-3">
    <h1 class="display-3">Connect to IP {{address}}</h1>
</div>
<div class="container-lg p-5 my-3">
  <div class="card-deck">
    <div class="card bg-info">
        <div class="card-body text-center" (click)="viewData($event)">
          <p class="card-text">View Student Database</p>
        </div>
      </div>
      <div class="card bg-info">
        <div class="card-body text-center" (click)="startSession($event)">
          <p class="card-text">Start Session</p>
        </div>
      </div>
  </div>
</div>